
background: linear-gradient(
    180deg,
    rgba(22, 39, 46, 1) 0%,
    rgba(1, 0, 6, 1) 50%,
    rgba(9, 6, 29, 1) 75%,
    rgba(19, 24, 50, 1) 87.5%,
    rgba(48, 45, 85, 1) 100%
  );

#titulo 
.snake {
  color-shade: #283287; 
  font-family: "Jersey10-Regular", sans-serif;
  color: #d9e73c;
  font-size: 128px;
  letter-spacing: 0.08em;
  font-weight: 400;
}

botones{
  background-shadow: #283287;
  border-radius: 20px;
  width: 203px;
  height: 31px;
  background: #d9e73c;
}

.texto {
  color: #181a4d;
  font-family: "K2D-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}